<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Você descobriu meu segredo!</h1>
    <p class="secret-text">Jesus Cristo é meu salvador.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Sair</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Enviar segredo</a>
  </div>
</div>

<%- include('partials/footer') %>
